@{
    ViewData["Title"] = "Home Page";
}
@{
    IEnumerable<string> strLista = new List<string> { "LAPTOP", "IMPRESORA", "ACCESORIOS", "PROYECTORES" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Mantenimiento de Equipos</h2> 
</div>

<div class="row">
    <div class="form-group">
        <label> Nombre Equipo</label>
        @Html.TextBox("txtNombre", "", new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblDescripcion","Descripcion")
        @Html.TextArea("txaDescripcion","Valor asignado",new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblModelo","Modelo")
        @Html.TextBox("txtModelo","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblAnioCompra","Año de Compra")
        @Html.ListBox("Lista",new List<SelectListItem>{
            new SelectListItem{Text="2005", Value="2005"},
            new SelectListItem{Text="2006", Value="2006"},
            new SelectListItem{Text="2007", Value="2005"}
        })
    </div>
    <div class="form-group">
        @Html.Label("lblCosto","Costo")
        @Html.TextBox("txtCosto","",new{@class="form-control"})
    </div >
    <div class="form-group">
        @Html.Label("lblVidaUtil","Vida Util")
        @Html.TextBox("txtVidaUtil","",new{@class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("lblTip","Tipo de Equipo")
        @Html.DropDownList("AddTipoEquipo", new SelectList(strLista),"Seleccionar un tipo")
    </div>
    <div class="form-group">
        @Html.CheckBox("estado") Inactivo
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Guardar" />
        @Html.ActionLink("Guardar","Guardar","Home")
    </div>
</div>
